:root {
    /* Primary */
    --Bright-Red: hsl(12, 88%, 59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* Neutral */
    --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Vary-Light-Gray: hsl(0, 0%, 98%);

    --pink: #FFF0EC;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
}



/* Start Navbar Section */
.navbar {
    background-color: none;
    z-index:2;
}
.navbar .navbar-nav {
    margin-left: auto;
}
.navbar .navbar-nav li a {
    color: #212529;
}
.navbar .navbar-nav li a:hover {
    color: #7F7F7F;
}
.navbar .right-button {
    background-color:var(--Bright-Red);
    color: #FFFFFF;
    font-size:15px; 
    padding: 10px 25px;
    border-radius: 25px;
}
/* End Navbar Section */




/* Start Products Section */
.products {
    position: relative;
}
.products::before {
    content: "";
    position:absolute;
    z-index: -1;
    inset: 0;
    background-image: url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    top: -50%;
    left: 55%;
}
.products .card {
    background: none;
}
.products .products-text .card-body button {
    background-color:var(--Bright-Red);
    color: #FFFFFF;
    font-size:15px; 
    padding: 10px 25px;
    border-radius: 25px;
}
/* End Products Section */








/* Start Manage Section */
.manage {
    position: relative;
    background:none;
}
/* .manage .underlay {
    position: relative;
} */
/* .manage .underlay  {
    position: absolute;
    z-index: -1;
    inset:0;
    background-image:url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
} */
    /* transform: rotate(276deg); */

.manage .card {
    background: none;
}


.manage .manage-list ol {
    counter-reset: count; 
    list-style:none;
    padding: 0;
}
.manage .manage-list ol li .list-item {
    display: grid;
    position: relative;
    align-items: center;
    column-gap: var(--SIZE-400);
    grid-template-columns: min-content 1fr;
    gap: 10px;
    position: relative;
}
.manage .manage-list ol li .list-item:before {
    content: "0" counter(count);
    counter-increment: count;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /* font-weight: var(--FW-BOLD); */
    font-weight: bold;
    background-color: var(--Bright-Red);
    padding: 0 20px;
    border-radius: 100vw;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    height: 35px;
    z-index: 3;
}
.manage .manage-list ol li .list-item .item-title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    line-height: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}
.manage .manage-list ol li .list-item .item-text {
    grid-column: 2 / -1;
}
@media (max-width: 768px) {
    .manage .manage-list ol li .list-item .item-title {
        position: absolute;
        width: 106%;
        height: 100%;
        background-color: #FFEFEB;
        left: -6%;
        z-index: 0;
        padding-left: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .manage .manage-list ol li .list-item .item-text {
        grid-column: 1 / -1;
    }
    
}
.manage .manage-list ol li .list-title {
    position:relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: var(--Very-Pale-Red);
    color: #212529;
    border-radius: .3em;
}
.manage .manage-list ol li .list-title:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: var(--Bright-Red);
    color:#FFFFFF;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}
/* End Manage Section */







/* Start Testimonials Section */
.testimonials {
    position: relative;
}
.testimonials .carousel .carousel-indicators button{
    width: 10px;
    height: 10px;
    background: none;
    border: 3px solid var(--Bright-Red);
    border-radius: 50%;
}
.testimonials .carousel .carousel-indicators button.active {
    background-color: var(--Bright-Red);
    border: 3px solid var(--Bright-Red);
}
.testimonials .carousel .carousel-inner .carousel-caption {
    position: static;
    background-color: #F7F7F7;
}
.testimonials .carousel .carousel-item img {
    width:100px;
    position: absolute;
    top: 11px;
    left: calc(50% - 47px);
}
.testimonials .carousel .carousel-item h6 {
    color: black;
}
.testimonials .carousel .carousel-item .role {
    font-size:15px
}
.testimonials .carousel .carousel-item .caption-text {
    font-size: 16px;
    color: black;
    height: 60px;
}
.testimonials .testimonials-button  button {
    background-color:var(--Bright-Red);
    color: #FFFFFF;
    font-size:15px; 
    padding: 10px 25px;
    border-radius: 25px;
}
/* End Testimonials Section */



/* Start Team Section */
.team {
    background-color: var(--Bright-Red);
}
.team .team-text {
    color: #FFFFFF;
}
.team .team-button button {
    background-color: #FFFFFF;
    color:  var(--Bright-Red);
    font-size:15px; 
    padding: 10px 25px;
    border-radius: 25px;
    border:0;
}
/* End Team Section */




/* Start Footer Section */
.footer {
    background-color: var(--Very-Dark-Blue);
    color: #FFFFFF;
}

.footer .footer-body {
    display:grid;
    /* grid-template-columns: min-content 1fr auto; */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "logo nav form" "social nav copyright";
    gap: 60px;
}

@media ()

.footer .footer-body .logo {
    grid-area: logo
}
.footer .footer-body .social {
    grid-area: social
}
.footer .footer-body .social ul {
    display: flex;
    justify-content: space-between;
}
.footer .footer-body .social ul li {
    font-size: 40px;
}
.footer .footer-body .social ul li:hover,
.footer .footer-body .nav ul li:hover {
    color:var(--Bright-Red);
}
.footer .footer-body .nav {
    grid-area: nav;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size:18px;
}
.footer .footer-body .form {
    grid-area: form;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer .footer-body .form button {
    background-color: var(--Bright-Red);
    color: #FFFFFF;
    font-size: 17px;
    padding: 0px 20px;
    border-radius: 18px;
    height: 50%;
}
.footer .footer-body .form input {
    width: 200px;
    border-radius: 18px;
    height: 50%;

}
.footer .footer-body .copyright {
    grid-area: copyright
}

/* End Footer Section */




/* Start Attribution Section */
.attribution {
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%);
}

/* End Attribution Section */


